# Ignore everything
*

# Except these
!tests
!tests/*
!include
!include/*
!lib/
!lib/*
!lib/grpc
!lib/grpc/*
!client/
!client/*
!client/qml/*
!client/controls/*
!server/
!server/*
!res/
!res/*
!CMakeLists.txt
!.gitignore
!README.md
!LICENSE
!vcpkg
!vcpkg.json

client/CMakeFiles
client/Makefile
client/cmake_install.cmake
client/qmltypes
client/meta_types
client/.rcc
client/.qt_plugins

tests/CMakeFiles
tests/Makefile
tests/CTestTestfile.cmake
tests/cmake_install.cmake
tests/init\[1\]_include.cmake