# Ignore everything
*

# Except these
!tests
!tests/*
!include
!include/*
!src/
!src/*
!src/qml/*
!src/controls/*
!res/
!res/*
!CMakeLists.txt
!.gitignore
!README.md
!LICENSE

src/CMakeFiles
src/Makefile
src/cmake_install.cmake

tests/CMakeFiles
tests/Makefile
tests/CTestTestfile.cmake
tests/cmake_install.cmake
tests/init\[1\]_include.cmake